

#arrow {
	position: fixed;
	left: 10px;
	right: 10px;
	cursor: pointer;
	width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.up{
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid green;
}

.down {
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid green;
}